* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  /* Add a gray background color with some padding */
  padding: 10px;
  background-color: white;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/*topbar*/
.top {
  overflow:hidden;
  background-color: black;
  height: 45px;
  z-index: 9998!important;
}

.top .top-left{
  margin-left: 100px;
}
.top .top-left .icon span{
  margin: 0px;
}
.top .top-left .text span {
  margin: 0px;
}
.top .top-left span {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  margin: 12px 3px;
  padding: 2px;
  text-decoration: none;
  background: black;
  font-size: 15px;
}
.top .top-left span i{
  float: left;
  display: block;
  color: #00d4d9;
  text-align: center;
  text-decoration: none;
  background: black;
  font-size: 20px;
}


.top .top-center span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 12px 3px;
  padding: 2px;
  text-decoration: none;
  background: black;
  font-size: 15px;
}

.top .top-center span i{
  float: left;
  display: inline;
  color: #00d4d9;
  text-align: center;
  padding-left: 50px;
  text-decoration: none;
  background: black;
  font-size: 20px;
}

.top .top-right{
  margin-right: 100px;
  }

.top .top-right a {
  float:right;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  margin: 7px 9px;
  padding: 7px 20px;
  text-decoration: none;
  background: black;
  font-size: 12px;
  border-radius: 0px;
  border: 0.1px solid #00d4d9;
}

.top .top-right a:hover {

  color: #00d4d9;
  border: 2px solid #00d4d9;

}

.top a.active {
  background-color: #4CAF50;
  color: white;
}


@media screen and (max-width: 600px) {
  .top .top-left{
    display: none !important;
  }
  .top .top-center{
    display: none !important;
  }
  .top .top-right{
    margin: 0px 10px;
  }
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.topnav {
  overflow: hidden;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 2px 9px 14px rgba(0, 0, 0, 0.5);
}

/*LOGO*/
.topnav .logo{
  position: absolute;
}
.topnav .logo img{
  position: relative;
  max-height: 70px;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom:  5px;
  /*box-shadow: 2px 11px 16px rgba(0, 0, 0, 0.8);*/
  margin-left: 70px;
}
@media screen and (max-width: 600px) {
  .topnav .logo img{
    position: relative;
    max-height: 50px;
    max-width: 120px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 5px;
    /*box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);*/
  }
}

.topnav .navi{
  margin-left: 400px;
  margin-right: 30px;
}

.topnav .navi a{
  float:left;
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 15px;
}

.topnav .navi a.active,.topnav .navi a:hover {
  color:black;
  background: white;
  border: 3px solid #00d4d9;
  border-radius: 40px;
}

.topnav .navi .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav .navi{
    margin-left: 0px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .topnav .navi a {
    display: none;
  }
  .topnav .navi a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
}

/*banner*/
.fade-carousel {
    position:absolute;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .4;
}


/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/banner2.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/banner5.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/banner1.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #fff;
  padding: 10px;
  height:333px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/*footer*/
footer{
  width: 90%;
    padding: 10px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /** Removed the negative bottom margin **/
    overflow: hidden;
    background: white;
    overflow: hidden;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-left h3 span{
	color:   #00d4d9;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #00d4d9;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 600px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
